DB_ENGINE= # указываем, что работаем с postgresql
DB_NAME= # имя базы данных
POSTGRES_USER= # логин для подключения к базе данных
POSTGRES_PASSWORD= # пароль для подключения к БД (установите свой)
DB_HOST= # название сервиса (контейнера)
DB_PORT= # порт для подключения к БД
SECRET_KEY= # Ключь для кодирования
ALGORITHM= # Алгоритм кодирования
ACCESS_TOKEN_EXPIRE_MINUTES= # Время жизни токена в минутах 
EMAIL_HOST_PASSWORD= # Пароль от smtp сервиса
EMAIL_HOST_USER=Anonim-not-found@yandex.ru